.card{
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 0px;
    text-align: center;
}

.img{
    object-fit: contain;
    height: 300px;
    padding-top: 20px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.row{
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    padding-left: 7%;
}

.link{
    background-color:#66CC33;
    border-radius: 0px;
    border:0px
}

.link:hover{
    background-color:#66CC33;
}

.linkedin{
    width: 30px;
}

.title{
    font-family: "Bahnschrift", sans-serif;
    font-size: 40px;
    color:#646464;
    text-align: center;
}