.logo{
    width: 110px;
    margin: 10px;
}

.navbar{
   font-family: "Bahnschrift", sans-serif;
   color: black;
   text-decoration: none;
}

a{
    color: #757575;
    font-size: 20px;
    top: 20px;
}

a:hover{
    color:black;
}

.bcn{
    width: 100%;
    position: absolute;
    bottom: 0px;
    opacity: 0.7;
}